import jwt #upm package(pyjwt)
import requests

HANKO_API_URL = "HANKO.IO URL GOES HERE"
AUDIENCE = "localhost"


# Retrieve the JWKS from the Hanko API
jwks_url = f"{HANKO_API_URL}/.well-known/jwks.json"
jwks_response = requests.get(jwks_url)
jwks_data = jwks_response.json()
public_keys = {}
for jwk in jwks_data["keys"]:
    kid = jwk["kid"]
    public_keys[kid] = jwt.algorithms.RSAAlgorithm.from_jwk(jwk) # type: ignore

image_dir = "content/images/"